<%= form_for(@user_friend_relation) do |f| %>
  <% if @user_friend_relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_friend_relation.errors.count, "error") %> prohibited this user_friend_relation from being saved:</h2>

      <ul>
      <% @user_friend_relation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id1 %><br>
    <%= f.text_field :user_id1 %>
  </div>
  <div class="field">
    <%= f.label :user_id2 %><br>
    <%= f.text_field :user_id2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
