<h1>Listing user_infos</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Hometown</th>
      <th>Birthday</th>
      <th>School</th>
      <th>Job</th>
      <th>Quotes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_infos.each do |user_info| %>
      <tr>
        <td><%= user_info.user_id %></td>
        <td><%= user_info.hometown %></td>
        <td><%= user_info.birthday %></td>
        <td><%= user_info.school %></td>
        <td><%= user_info.job %></td>
        <td><%= user_info.quotes %></td>
        <td><%= link_to 'Show', user_info %></td>
        <td><%= link_to 'Edit', edit_user_info_path(user_info) %></td>
        <td><%= link_to 'Destroy', user_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User info', new_user_info_path %>
