<h1>User Preferences</h1>

<table>
  <thead>
    <tr>
        <th>User Info</th>
        <th>User Interests</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width="50%;">
        <%= form_for(:user_info, :url => {:controller => "user_infos", :action => 'update'}) do |f| %>
            <p>Hometown: <%= f.text_field :hometown , :value => @user_info.hometown%></p>
            <p>Birthday:&nbsp;&nbsp;&nbsp;<%= f.text_field :birthday %></p>
            <p>School:&nbsp;&nbsp;&nbsp;&nbsp; <%= f.text_field :school %></p>
            <p>Job:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= f.text_field :school %></p>
            <p>Quotes:&nbsp;&nbsp;&nbsp; <%= f.text_field :quotes %> </p>
            <%= f.submit %>
          <% end %>
      </td>
      <td width="50%;", >
        <%= form_for(:book, :url => '/books/update') do |f| %>
          <%= f.hidden_field :user_id, :value => session[:user_id] %>
          <p>Books: <%= f.text_field :book_names, :value => @books.book_names %></p>
          <%= f.submit %>
        <% end %>
        
        <%= form_for(:movie, :url => '/movies/update') do |f| %>
          <%= f.hidden_field :user_id, :value => session[:user_id] %>
          <p>Movies: <%= f.text_field :movie_names, :value => @movies.movie_names %></p>
          <%= f.submit %>
        <% end %>

        <%= form_for(:music, :url => '/musics/update') do |f| %>
          <%= f.hidden_field :user_id, :value => session[:user_id] %>
          <p>Music: <%= f.text_field :artists, :value => @music.artists %></p>
          <%= f.submit %>
        <% end %>
        </td>
      </tr>
    </tbody>
  </table>

<h2>Clear your wall</h2>
<%= form_for(:post, :url => "/posts/remove_all") do |f| %>
  <%= f.hidden_field(:on_wall_of_user, :value => session[:user_id]) %>
  <%= f.submit %>
  <% end %>

<p></p>
  <h2>Pending Friend Requests</h2>
  <table>
    <thead>
      <tr>
        <th width="20%;">First Name</th>
        <th width="20%;">Last Name</th>
        <th width="30%;">Accept</th>
        <th>Deny</th>
      </tr>
    </thead>
    <tbody>
      <% @pending_friends.each do |request| %>
      <tr>
        <td><%= User.find(request.from_user_id).first_name.titleize %></td>
        <td><%= User.find(request.from_user_id).last_name.titleize %></td>
        <td><%= form_for(:user_friend_relation, :url => {:controller => 'user_friend_relations', :action => 'create'}) do |f| %>
            <%= f.hidden_field( :user_id1, :value => @current_user.id ) %>
            <%= f.hidden_field( :user_id2, :value => request.from_user_id ) %>
            <%= f.submit "Accept" %>
            <% end %></td>
        <td><%= link_to 'Deny', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    </tbody>
  </table>

<p></p>

<h2>Friends</h2>
  <table>
    <thead>
      <th float="left;">Name</th>
    </thead>
    <tbody>
      <% @current_user.get_friend_objects.each do |friend| %>
      <tr>
        <td><%= link_to ("%s %s" % [friend.first_name.titleize,friend.last_name.titleize]), '/profile?id=%s' % [friend.id] %></td>
      <% end %>
    </tr>
  </tbody>
</table>