<h1 class='User_Header'> <%=@user.first_name%> <%=@user.last_name%>'s  Profile </h1>

<% if !@current_user.isFriendsWith?(@user.id) && @user.id != @current_user.id %>
	
	<p>You are not friends with <%=@user.first_name%> <%=@user.last_name%>. Click "Add" to send <%=@user.first_name%> a friend request.</p>
	<%= form_for(:pending_friend_request, :url => {:controller => 'pending_friend_requests', :action => 'create'}) do |f| %>
		<%= f.hidden_field( :from_user_id, :value => @current_user.id ) %>
		<%= f.hidden_field( :to_user_id, :value => @user.id ) %>
		<%= f.submit %>
	<% end %>

<% else %>

<p id="notice"><%= notice %></p>

<% @current_user %>

<div id='about_me_section'>

<h2>About Me:</h2>

<h3>Interests</h3>

<% if @books != nil %>
	<p>Books I like: <%=@books.book_names%> </p>
<% end %>

<% if @movies != nil %>
	<p>Movies I like: <%=@movies.movie_names%> </p>
<% end %>

<% if @music != nil %>
	<p>Music I like: <%=@music.artists%> </p>
<% end %>

<% if @user_info != nil %>
	
	<h3>Personal Info</h3>


	<% if @user_info.hometown != nil %>
		<p>Hometown: <%=@user_info.hometown%></p>
	<% end %>

	<% if @user_info.birthday != nil %>
		<p>Birthday: <%=@user_info.birthday%></p>
	<% end %>

	<% if @user_info.school != nil %>
		<p>School: <%=@user_info.school%></p>
	<% end %>

	<% if @user_info.job != nil %>
		<p>Job: <%=@user_info.job%></p>
	<% end %>

	<% if @user_info.quotes != nil %>
		<p>Favorite Quotes: <%=@user_info.quotes%></p>
	<% end %>



<% end %>

</div>

<h3 class='wall_header'><%=@user.first_name%> <%=@user.last_name%>'s Wall</h3>
<div id='profile_wall'>

<%= form_for(:post, :url => {:controller => 'posts', :action => 'create'}) do |f| %>

	<p>Write on <%=@user.first_name%> <%=@user.last_name%>'s wall</p>
	<%= f.hidden_field( :on_wall_of_user, :value => @user.id ) %>
	<%= f.hidden_field( :user_id, :value => @current_user.id ) %>

	<p><%= f.text_area :status %></p>

	<%= f.submit %>


<% end %>
<h3 class='wall_header'><%=@user.first_name.titleize%> <%=@user.last_name.titleize%>'s Wall</h3>


<% @allPosts.each { |post|  %>



<div class='wall_post_div'>
		<% @poster = User.find(post[:user_id]) %>
		<a href='/profile?id=<%=@poster.id %>'><%= "%s %s" % [@poster.first_name, @poster.last_name] %></a>
		<%= post[:status]  %>
</div>
		<br>
<% } %>

</div>

<% end %>

<%#= link_to 'Edit', edit_user_path(@user) %> 
<%#= link_to 'Back', users_path %>


<!-- <p>Find me in app/views/sessions/profile.html.erb</p>
 -->