<h2 class='User_Header'> <%=@user.first_name%> <%=@user.last_name%>'s  Profile </h2>


<p id="notice"><%= notice %></p>



<% if @books != nil %>
	<p>Books: <%=@books.book_names%> </p>
<% end %>

<% if @movies != nil %>
	<p>Movies: <%=@movies.movie_names%> </p>
<% end %>

<% if @music != nil %>
	<p>Music: <%=@music.artists%> </p>
<% end %>

<h3 class='wall_header'><%=@user.first_name.titleize%> <%=@user.last_name.titleize%>'s Wall</h3>

<a href='/profile?id=<%=@user.id%>' > Profile </a>

<% @allPosts.each { |post|  %>
		<%= User.find(post[:user]) %>
		<%= post[:status]  %>
		<br>
<% } %>

<%#= link_to 'Edit', edit_user_path(@user) %> 
<%#= link_to 'Back', users_path %>


<!-- <p>Find me in app/views/sessions/profile.html.erb</p>
 -->