<h1 class='User_Header'> <%=@user.first_name%> <%=@user.last_name%>'s  Profile </h1>


<p id="notice"><%= notice %></p>



<% if @books != nil %>
	<p>Books: <%=@books.book_names%> </p>
<% end %>

<% if @movies != nil %>
	<p>Movies: <%=@movies.movie_names%> </p>
<% end %>

<% if @music != nil %>
	<p>Music: <%=@music.artists%> </p>
<% end %>

<h3 class='wall_header'><%=@user.first_name%> <%=@user.last_name%>'s Wall</h3>


<% @allPosts.each { |post|  %>
		<% @poster = User.find(post[:user_id]) %>
		<a href='/profile?id=<%=@poster.id %>'><%= "%s %s" % [@poster.first_name, @poster.last_name] %></a>
		<%= post[:status]  %>
		<br><br>
<% } %>

<%#= link_to 'Edit', edit_user_path(@user) %> 
<%#= link_to 'Back', users_path %>


<!-- <p>Find me in app/views/sessions/profile.html.erb</p>
 -->