<h1>Newsfeed</h1>

<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>


<%= form_for(:post, :url => {:controller => 'posts', :action => 'create'}) do |f| %>

	<p>Update your status</p>
	<%= f.hidden_field( :on_wall_of_user, :value => @current_user.id ) %>
	<%= f.hidden_field( :user_id, :value => @current_user.id ) %>

	<p><%= f.text_area :status %></p>

	<%= f.submit %>


<% end %>


<% @allPosts.each { |post|  %>

<div class='wall_post_div'>
		<% @poster = User.find(post[:user_id]) %>
		<a href='/profile?id=<%=@poster.id %>'><%= "%s %s" % [@poster.first_name.titleize, @poster.last_name.titleize] %></a>
		<%= post[:status]  %>
</div>
		<br>
<% } %>



