<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @music.user_id %>
</p>

<p>
  <strong>Artists:</strong>
  <%= @music.artists %>
</p>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
