<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<%=link_to image_tag("fakeblock.png"), '/newsfeed', id: "logo" %>
		<nav>
			<table class="nav pull-right">
				<tr>
					<td>
						<ul class="nav pull-right">

						<li><%= link_to "Newsfeed", '/newsfeed' %></li>
						<li><%= link_to "Profile", '/profile' %></li>
						<li><%= link_to "Preferences", '/preferences?id=%s' % [session[:user_id]] %></li>
						<li><%= link_to "Logout", '/logout' %></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<%= form_tag users_path, id: "nav-top", :method => :get do %>
						<%= text_field_tag :search, params[:search], id: "search-bar" %>
						<%= submit_tag "Search friends", :name => nil, id: "search-button" %>
						<% end %> 
					</td>
				</tr>
			</table>
		</nav>
	</div>
</div>
</header>
